<marquee direction="left" class="col-md-10">
  <ng-transclude category="9Ent" page="0" limit="5" class="ng-isolate-scope">
     
      <a ng-repeat="p in posts | limitTo:5"
         
          style="line-height:60px;margin-right:40px;" class="inherit ng-binding ng-scope">เรื่องราวของ</a><a
          ng-repeat="p in posts | limitTo:5" 
          style="line-height:60px;margin-right:40px;"
          class="inherit ng-binding ng-scope">ฮีโร่วัยรุ่น</a><a ng-repeat="p in posts | limitTo:5"
          
          style="line-height:60px;margin-right:40px;"
          class="inherit ng-binding ng-scope">เด็กหนุ่มจากบรุคลิน</a><a
          ng-repeat="p in posts | limitTo:5" 
          style="line-height:60px;margin-right:40px;" class="inherit ng-binding ng-scope">เขามีชื่อที่เรียกว่า</a><a
          ng-repeat="p in posts | limitTo:5" 
          style="line-height:60px;margin-right:40px;" class="inherit ng-binding ng-scope">สไปเดอร์แมน</a>
  </ng-transclude>
</marquee>